<div id="text">Trang</div> 
<%=link_to 'Chan','/chan'%>
<%=link_to 'Le','/le'%>
<button id="color_change">COLOR</button>
<button id="even_button">BUTTON Chan</button>
<button id="odd_button">BUTTON Le</button>